<html lang="en">

<head>
	<%- include('../partials/head'); %>
		<style>
			.carta-catalogo {
				display: flex;
				margin-top: 20px;
				align-items: center;
				flex-direction: row;
				width: 100%;
				flex-wrap: wrap;
			}

			.card {
				height: auto;
				width: 300px;
				margin: 20px;
			}

			.descripcion-s {
				height: 80px;
				padding: 10px 0;
				overflow-y: scroll;
			}

			.descripcion-s::-webkit-scrollbar {
				width: 12px;
			}

			.descripcion-s::-webkit-scrollbar-track {
				background: rgb(255, 255, 255);

			}

			.descripcion-s::-webkit-scrollbar-thumb {
				background-color: rgb(124, 124, 124);
				border-radius: 20px;
				border: 3px solid rgb(212, 212, 212);
			}

			.descripcion {
				display: flex;
				flex-wrap: wrap;
			}
		</style>
</head>

<body>
	<%- include('../partials/header'); %>
		<div class="carta-catalogo">
			<% listadoProductos.forEach(producto=> { %>
				<div class="card">
					<img src="/img/homero.jpeg" style="width: 100%;height: 200px;">
					<div class="card-body">
						<h3>
							<%= producto.nombre %>
						</h3>
						<h5>precio : <%= producto.precio %>
						</h5>
						<div class="descripcion-s">
							<p class="card-text descripcion">
								<%= producto.descripcion %>
							</p>
						</div>
						<button class="btn btn-primary" style="margin-top:10 ;"><i class="bi bi-cart3"></i></button>
					</div>
				</div>
				<%})%>
		</div>
</body>
<footer> <%- include ('../partials/footer'); %>
</footer>