<html lang="en">
        	<head>
            	<%- include('../partials/head'); %>
        	</head>
        	<body class="container">
	<table>
	<thead>
    	<th>Referencia</th>
    	<th>Productos</th>
    	<th>Precio</th>
    	<th>Descripcion</th>
    	<th>Categoria</th>
    	<th>Imagenes</th>
    	<th>acciones</th>
	</thead>
	<tbody>
<% listadoProductos.forEach(producto => { %>
    	<tr>
        	<td><%= producto.referencia %></td>
        	<td><%= producto.nombre %></td>
        	<td><%= producto.precio %></td>
        	<td><%= producto.descripcion %></td>
        	<td><%= producto.categoria %></td>
        	<td><%= producto.imagenes %></td>
        	<td>
            	<button data-bs-toggle="modal" data-bs-target="#editModal" onclick=""><i class="bi bi-pencil-square"></i></button>
            	<button class="btn btn-outline-danger" onclick=""><i class="bi bi-trash"></i></button>
      	 
        	</td>
    	</tr>

<%})%>
</tbody>
</table>

<%- include ('../partials/footer'); %>

</body>
